<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Костёл святого Симеона и святой Елены </h2>
                <hr class="primary">
                <img src="../images/Minsk.jpg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pull-center">
            <div class="col-lg-6 col-md-6 text-center text-margin">
                <div class="service-box">
                    <h4 class="text-muted">
                        Административно относится к юго-восточному деканату Минско-Могилёвской архиепархии. Памятник архитектуры, включён в Государственный список историко-культурных ценностей Республики Беларусь (код 713Г000229)[1]. В ряде источников, включая воспоминания самого донатора храма Эдварда Войниловича, стиль храма характеризуется как неороманский[2], в ряде других, как неоготика с чертами модерна
                    </h4>
                </div>
            </div>

        </div>
    </div>
</section>