<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Несвижский замок</h2>
                <hr class="primary">
                <img src="../images/Nesvish.jpg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pull-center">
            <div class="col-lg-6 col-md-6 text-center text-margin">
                <div class="service-box">
                    <h4 class="text-muted">
                        Дворцово-парковый ансамбль XVI – XIX вв. расположен в северо-восточной части города и окружён прудами реки Уша. С 1583 г. и до 1939 г. дворец служил резиденцией могущественному княжескому роду Радзивиллов и был центром Несвижской ординации. За 400 лет своей истории, дворец впитал в себя признаки различных архитектурных стилей. Здесь нашли своё отражение ренессанс и классицизм, барокко и рококо, модерн и неоклассицизм.</h4>
                </div>
            </div>

        </div>
    </div>
</section>