<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Софи́йский собор</h2>
                <hr class="primary">
                <img src="../images/Polock.jpg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pull-center">
            <div class="col-lg-6 col-md-6 text-center text-margin">
                <div class="service-box">
                    <h4 class="text-muted">
                        Возведённый в середине XI века в византийском стиле храм был освящён во имя Святой Софии. До нашего времени Софийский собор сохранился в значительно измененном виде, окончательно был перестроен в XVIII веке в стиле виленского барокко. В таком виде сохранился до нашего времени.

                        Богослужение в Софийском соборе было прекращено в 20-е годы XX века. С конца 1969 до 1983 года в соборе проводились реставрационные работы (автор проекта – белорусский архитектор Валерий Слюнченко) и архитектурно-археологические исследования под руководством кандидата искусствоведения Валентина Булкина. После их окончания был открыт музей истории архитектуры Софийского собора и концертный зал камерной и органной музыки.
                    </h4>
                </div>
            </div>

        </div>
    </div>
</section>